@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl {
  direction: rtl;
}

@font-face {
  font-family: "AGT";
  src: url("./../public/fonts/AGT Abdul Majeed.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kapisa";
  src: url("./../public/fonts/AGT Kapisa.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

/* Styles for the modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* Styles for the keyboard container */
.keyboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hg-button {
  font-family: "AGT Kapisa";
}

/* Counter Syling */

.counter {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.quote {
  line-height: 3rem;
}
